In [1]:
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2
import time

from pathlib import Path
import os
import warnings
warnings.filterwarnings("ignore")

from config import db_password
db_string = f'postgresql://postgres:{db_password}@localhost:5432/Final_Project_UFO'

In [2]:
engine = create_engine(db_string)

In [3]:
#Create the path to your file directory and variables for the three files.
file_dir = '/Users/katiebernstein/Desktop/UFO_Final_Project/'
# UFO Database 
ufo_file = f'{file_dir}/ufo_data_cleaned.csv'
# City Names
city_file = f'{file_dir}/AZ_City_Fixed.csv'
# City Population YOY
population_file = f'{file_dir}/AZ_CityGrowth_YoY.csv'

In [4]:
# Read UFO, City and Popultion CSV files as Pandas DataFrames.
ufo_data = pd.read_csv(f'{file_dir}ufo_data_cleaned.csv', low_memory=False)
city_names = pd.read_csv(f'{file_dir}AZ_City_Fixed.csv')
population_data = pd.read_csv(f'{file_dir}AZ_CityGrowth_YoY.csv')

In [5]:
city_names

                         city_raw city_corrected
0                          Aguila         Aguila
1                  Eagle Eye Road         Aguila
2                             Ajo            Ajo
3                  Sonoran Desert            Ajo
4    Organ Pipe National Monument            Ajo
..                            ...            ...
390                         Yucca          Yucca
391              Gila Bend- Yuma?           Yuma
392                          Yuma           Yuma
393                          Dome           Yuma
394                    North Yuma           Yuma

[395 rows x 2 columns]

In [6]:
#df_merged = pd.merge(df_left, df_right, on='Key', how='inner')
#print(df_merged)
# But the columns names are different in the 2 dataframes  
df_mergeufo = pd.merge(ufo_data, city_names, left_on=['city'], right_on=['city_raw'])
df_mergeufo.head()

,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [7]:
# Count number of AZ merged rows
df_mergeufo.columns

Index(['index', 'summary', 'city', 'state', 'date_time', 'shape', 'duration',
       'stats', 'text', 'posted', 'city_latitude', 'city_longitude',
       'city_raw', 'city_corrected'],
      dtype='object')

In [8]:
# delete all rows with column "City_corrected" has 'x'
indexUfo = df_mergeufo[ (df_mergeufo['city_corrected'] == 'X')].index
df_mergeufo.drop(indexUfo, inplace=True)
df_mergeufo.head(5)

,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [9]:
#dropna from city_corrected
merged_df = df_mergeufo.dropna(subset=["city_corrected"])
merged_df.head(5)

,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [10]:
# export to view  excel light and Madar filter
merged_df.to_csv(f'{file_dir}df_mergeufo.csv')

In [11]:
az_city_ufo = pd.read_csv(f'{file_dir}df_mergeufo.csv')
az_city_ufo.head(5)

,Unnamed: 0,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [12]:
az_city_ufo.columns

Index(['Unnamed: 0', 'index', 'summary', 'city', 'state', 'date_time', 'shape',
       'duration', 'stats', 'text', 'posted', 'city_latitude',
       'city_longitude', 'city_raw', 'city_corrected'],
      dtype='object')

In [13]:
#dropna from city_corrected
merged_df = df_mergeufo.dropna(subset=["city_corrected"])
merged_df.head(5)

,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [14]:
#### Remove columns not needed
az_city_ufo.drop(columns=["city_raw","Unnamed: 0"], inplace=True)
az_city_ufo

,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_corrected
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park
1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park
2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park
3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park
4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3979,128886,((Serious report??)) My grandson and I saw a ...,Cortaro,AZ,2019-04-14T00:00:00,other,90-120 minutes,Occurred : 4/14/2019 (Entered as : 4/14 /201...,My grandson and I saw a worm hole open up and ...,2019-09-06T00:00:00,32.3562,-111.0884,Cortaro
3980,129306,There was a single pyramid like craft with at ...,Elfrida,AZ,2019-06-10T21:10:00,other,10 minutes,Occurred : 6/10/2019 21:10 (Entered as : 06/1...,There was a single pyramid like craft with at ...,2019-06-20T00:00:00,31.7355,-109.7095,Elfrida
3981,130607,Flashing Red & Green Object over Airport - hov...,Somerton,AZ,2020-02-12T21:30:00,circle,several hours,Occurred : 2/12/2020 21:30 (Entered as : 02/1...,Flashing Red & Green Object over Airport - hov...,2020-02-13T00:00:00,32.5376,-114.7138,Somerton
3982,130920,Bright solid white light executes 90 degree tu...,Clifton,AZ,2020-10-06T19:13:00,light,90 seconds,Occurred : 10/6/2020 19:13 (Entered as : 10/0...,Bright solid white light executes 90 degree tu...,2020-12-23T00:00:00,33.2734,-109.2711,Clifton
3983,133622,Perhaps their drones but they didn't seem like...,Many Farms,AZ,2020-01-14T18:45:00,formation,10 minutes,Occurred : 1/14/2020 18:45 (Entered as : 01/1...,Perhaps their drones but they didn't seem like...,2020-02-07T00:00:00,36.3900,-109.5977,Many Farms

In [15]:
# Find null values
for column in az_city_ufo.columns:
    print(f"Column {column} has {az_city_ufo[column].isnull().sum()} null values")

Column index has 0 null values
Column summary has 2 null values
Column city has 0 null values
Column state has 0 null values
Column date_time has 17 null values
Column shape has 122 null values
Column duration has 150 null values
Column stats has 0 null values
Column text has 2 null values
Column posted has 17 null values
Column city_latitude has 0 null values
Column city_longitude has 0 null values
Column city_corrected has 0 null values

In [16]:
#newufo_df.dropna(subset=newufo_df.select_dtypes(include=np.number).columns, how='all')
az_city_ufo1 = az_city_ufo.dropna(subset=["summary","date_time","duration","posted","city_latitude","city_longitude",])
az_city_ufo1.head(5)

,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_corrected
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park
1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park
2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park
3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park
4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park

In [17]:
for column in az_city_ufo1.columns:
    print(f"Column {column} has {az_city_ufo1[column].isnull().sum()} null values")

Column index has 0 null values
Column summary has 0 null values
Column city has 0 null values
Column state has 0 null values
Column date_time has 0 null values
Column shape has 73 null values
Column duration has 0 null values
Column stats has 0 null values
Column text has 0 null values
Column posted has 0 null values
Column city_latitude has 0 null values
Column city_longitude has 0 null values
Column city_corrected has 0 null values

In [18]:
az_city_ufo1["key"] = az_city_ufo1["city_corrected"] + az_city_ufo1["date_time"]
az_city_ufo1.head(5)

,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_corrected,key
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2020-04-17T20:00:00
1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2020-05-17T21:00:00
2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park1998-01-14T21:00:00
3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2004-07-20T19:45:00
4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2004-04-20T08:45:00

In [19]:
# convert date to datestri
az_city_ufo1["date_time"].str.split("T", expand=True)

               0         1
0     2020-04-17  20:00:00
1     2020-05-17  21:00:00
2     1998-01-14  21:00:00
3     2004-07-20  19:45:00
4     2004-04-20  08:45:00
...          ...       ...
3979  2019-04-14  00:00:00
3980  2019-06-10  21:10:00
3981  2020-02-12  21:30:00
3982  2020-10-06  19:13:00
3983  2020-01-14  18:45:00

[3816 rows x 2 columns]

In [20]:
newcolumnlist = ["date_str", "time_str"]
az_city_ufo1[newcolumnlist] = az_city_ufo1["date_time"].str.split("T", expand=True)
az_city_ufo1.head()

,index,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_corrected,key,date_str,time_str
0,117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2020-04-17T20:00:00,2020-04-17,20:00:00
1,1741,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2020-05-17T21:00:00,2020-05-17,21:00:00
2,28064,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park1998-01-14T21:00:00,1998-01-14,21:00:00
3,31539,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2004-07-20T19:45:00,2004-07-20,19:45:00
4,32274,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2004-04-20T08:45:00,2004-04-20,08:45:00

In [21]:
#split date 
az_city_ufo1["date_str"].str.split("-", expand=True)

         0   1   2
0     2020  04  17
1     2020  05  17
2     1998  01  14
3     2004  07  20
4     2004  04  20
...    ...  ..  ..
3979  2019  04  14
3980  2019  06  10
3981  2020  02  12
3982  2020  10  06
3983  2020  01  14

[3816 rows x 3 columns]

In [22]:
newcolumnlist = ["year", "month", "day"]

In [23]:
az_city_ufo1[newcolumnlist] = az_city_ufo1["date_str"].str.split("-", expand=True)

In [24]:
az_city_ufo1.columns

Index(['index', 'summary', 'city', 'state', 'date_time', 'shape', 'duration',
       'stats', 'text', 'posted', 'city_latitude', 'city_longitude',
       'city_corrected', 'key', 'date_str', 'time_str', 'year', 'month',
       'day'],
      dtype='object')

In [25]:
# converting to csv
az_city_ufo1.to_csv(f'{file_dir}az_city_ufo.csv')

In [28]:
rows_imported = 0

# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}az_city_ufo.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    az_city_ufo1.to_sql(name='ufo_az_clean1', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 3816...Done. 0.39786195755004883 total seconds elapsed

In [ ]:
#join_query = """
#SELECT * FROM arizona_ufos

#"""

#df = pd.read_sql_query(join_query,con=engine)

In [ ]:
#engine = create_engine('postgresql://postgres:172216-Oakwood!@localhost:5432/Final_Project_UFO')

#extract_transform_load(ufo_file, city_file, population_file)

#def extract_transform_load(ufo_file, city_file, population_file):