# https://www.kaggle.com/datasets/sadeghjalalian/ufo-sightings-in-usa 
#Datasets nuforc_reports.csv, AZ_CityGrowth_YoY.csv and AZ_City_Fixed.csv
#Data Clean

In [1]:
# Import our dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import os
import warnings
warnings.filterwarnings("ignore")

In [20]:
#  Import and read the Nu_data.csv.
ufo_df = pd.read_csv("./Resources/nuforc_reports.csv")
ufo_df.head()

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,Viewed some red lights in the sky appearing to...,Visalia,CA,2021-12-15T21:45:00,light,2 minutes,Occurred : 12/15/2021 21:45 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165881.html,Viewed some red lights in the sky appearing to...,2021-12-19T00:00:00,36.356650,-119.347937
1,Look like 1 or 3 crafts from North traveling s...,Cincinnati,OH,2021-12-16T09:45:00,triangle,14 seconds,Occurred : 12/16/2021 09:45 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165888.html,Look like 1 or 3 crafts from North traveling s...,2021-12-19T00:00:00,39.174503,-84.481363
2,seen dark rectangle moving slowly thru the sky...,Tecopa,CA,2021-12-10T00:00:00,rectangle,Several minutes,Occurred : 12/10/2021 00:00 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165810.html,seen dark rectangle moving slowly thru the sky...,2021-12-19T00:00:00,NaN,NaN
3,"One red light moving switly west to east, beco...",Knoxville,TN,2021-12-10T19:30:00,triangle,20-30 seconds,Occurred : 12/10/2021 19:30 (Entered as : 12/...,http://www.nuforc.org/webreports/165/S165825.html,"One red light moving switly west to east, beco...",2021-12-19T00:00:00,35.961561,-83.980115
4,"Bright, circular Fresnel-lens shaped light sev...",Alexandria,VA,2021-12-07T08:00:00,circle,NaN,Occurred : 12/7/2021 08:00 (Entered as : 12/0...,http://www.nuforc.org/webreports/165/S165754.html,"Bright, circular Fresnel-lens shaped light sev...",2021-12-19T00:00:00,38.798958,-77.095133

In [19]:
# Fiter file to State of Arizona
newufo_df = ufo_df[(ufo_df.state == "AZ")]
newufo_df.head(5)

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
60,"When we were about 17-18, a friend and I had j...",Encinitas,AZ,1973-11-03T15:00:00,disk,10 seconds,Occurred : 11/3/1973 15:00 (Entered as : 11/0...,http://www.nuforc.org/webreports/154/S154888.html,"When we were about 17-18, a friend and I had j...",2020-04-09T00:00:00,NaN,NaN
117,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,http://www.nuforc.org/webreports/155/S155338.html,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.517800,-112.366700
125,Crazy light show! ((Starlink satellites?)),Tucson,AZ,2020-04-15T20:30:00,light,20 minutes,Occurred : 4/15/2020 20:30 (Entered as : 4/15...,http://www.nuforc.org/webreports/155/S155177.html,Crazy light show! A series of lights eminating...,2020-06-25T00:00:00,32.259941,-110.927542
134,Star looking ufo in sky starts to move then di...,Phoenix,AZ,2020-04-12T01:00:00,other,5-7 minutes,Occurred : 4/12/2020 01:00 (Entered as : 04/1...,http://www.nuforc.org/webreports/154/S154998.html,Star looking ufo in sky starts to move then di...,2020-06-25T00:00:00,33.535381,-112.049460
145,"Saw a bright, star like object, very high up, ...",Tucson,AZ,2020-03-29T21:00:00,circle,2 hours,Occurred : 3/29/2020 21:00 (Entered as : 03/2...,http://www.nuforc.org/webreports/154/S154641.html,"Saw a bright, star like object, very high up, ...",2020-06-25T00:00:00,32.259941,-110.927542

In [4]:
# Count number of AZ orginal rows
newufo_count = newufo_df.state.value_counts()
newufo_count

AZ    4625
Name: state, dtype: int64

In [5]:
# Import Arizona city verification  ufo_df = pd.read_csv("./Resources/nuforc_reports.csv")
az_city_fixed = pd.read_csv("./Resources/AZ_City_Fixed.csv")
az_city_fixed.df = az_city_fixed
az_city_fixed.df

                         city_raw city_corrected
0                          Aguila         Aguila
1                  Eagle Eye Road         Aguila
2                             Ajo            Ajo
3                  Sonoran Desert            Ajo
4    Organ Pipe National Monument            Ajo
..                            ...            ...
390                         Yucca          Yucca
391              Gila Bend- Yuma?           Yuma
392                          Yuma           Yuma
393                          Dome           Yuma
394                    North Yuma           Yuma

[395 rows x 2 columns]

In [18]:
#df_merged = pd.merge(df_left, df_right, on='Key', how='inner')
#print(df_merged)
# But the columns names are different in the 2 dataframes  
df_mergeufo = pd.merge(newufo_df, az_city_fixed.df, left_on=['city'], right_on=['city_raw'])
df_mergeufo.head()

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,http://www.nuforc.org/webreports/155/S155338.html,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,http://www.nuforc.org/webreports/156/S156519.html,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,http://www.nuforc.org/webreports/033/S33865.html,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,http://www.nuforc.org/webreports/039/S39468.html,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,http://www.nuforc.org/webreports/038/S38381.html,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [7]:
# Count number of AZ merged rows
df_mergeufo.columns

Index(['summary', 'city', 'state', 'date_time', 'shape', 'duration', 'stats',
       'report_link', 'text', 'posted', 'city_latitude', 'city_longitude',
       'city_raw', 'city_corrected'],
      dtype='object')

In [17]:
# delete all rows with column "City_corrected" has 'x'
indexUfo = df_mergeufo[ (df_mergeufo['city_corrected'] == 'X')].index
df_mergeufo.drop(indexUfo, inplace=True)
df_mergeufo.head(5)

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,http://www.nuforc.org/webreports/155/S155338.html,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,http://www.nuforc.org/webreports/156/S156519.html,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,http://www.nuforc.org/webreports/033/S33865.html,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,http://www.nuforc.org/webreports/039/S39468.html,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,http://www.nuforc.org/webreports/038/S38381.html,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [16]:
#dropna from city_corrected
merged_df = df_mergeufo.dropna(subset=["city_corrected"])
merged_df.head(5)

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,http://www.nuforc.org/webreports/155/S155338.html,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,http://www.nuforc.org/webreports/156/S156519.html,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,http://www.nuforc.org/webreports/033/S33865.html,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,http://www.nuforc.org/webreports/039/S39468.html,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,http://www.nuforc.org/webreports/038/S38381.html,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [13]:
# export to view  excel light and Madar filter
merged_df.to_csv('Resources/df_mergeufo.csv')

In [ ]:
#merged_df["shape"] = merged_df["shape"].replace(NaN,"unknown") EXCEL
#merged_df.loc[merged_df["summary"]== "MADAR Node"] == "MADAR_NODE"

In [35]:
az_city_ufo = pd.read_csv("./Resources/df_mergeufo.csv")
az_city_ufo.head(5)

,Unnamed: 0,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude,city_raw,city_corrected
0,0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,http://www.nuforc.org/webreports/155/S155338.html,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
1,1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,http://www.nuforc.org/webreports/156/S156519.html,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
2,2,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,http://www.nuforc.org/webreports/033/S33865.html,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
3,3,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,http://www.nuforc.org/webreports/039/S39468.html,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park
4,4,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,http://www.nuforc.org/webreports/038/S38381.html,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park

In [37]:
az_city_ufo.columns

Index(['Unnamed: 0', 'summary', 'city', 'state', 'date_time', 'shape',
       'duration', 'stats', 'report_link', 'text', 'posted', 'city_latitude',
       'city_longitude', 'city_raw', 'city_corrected'],
      dtype='object')

In [38]:
#### Remove columns not needed
az_city_ufo.drop(columns=["report_link","city_raw","Unnamed: 0"], inplace=True)
az_city_ufo

,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_corrected
0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park
1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park
2,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park
3,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park
4,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park
...,...,...,...,...,...,...,...,...,...,...,...,...
4459,Slow 20 plus circular lights in straight forma...,Stoneman Lake,AZ,2021-05-29T21:20:00,circle,5 minutes,Occurred : 5/29/2021 21:20 (Entered as : 05/2...,Slow 20 plus circular lights in straight forma...,2021-07-31T00:00:00,NaN,NaN,Munds Park
4460,"5 glowing fireballs - danced in formation, hov...",Tramonto,AZ,2021-02-06T19:00:00,fireball,8 minutes,Occurred : 2/6/2021 19:00 (Entered as : 02/06...,"5 glowing fireballs - danced in formation, hov...",2021-03-02T00:00:00,NaN,NaN,Phoenix
4461,3 orange fireball shapes floated over Picacho ...,Picacho,AZ,2021-03-15T21:15:00,fireball,8 minutes,Occurred : 3/15/2021 21:15 (Entered as : 03/1...,3 orange fireball shapes floated over Picacho ...,2021-03-31T00:00:00,NaN,NaN,Picacho
4462,Bright disc descended behind flying rock mountain,Joseph City,AZ,2021-02-28T22:00:00,disk,5 seconds,Occurred : 2/28/2021 22:00 (Entered as : 02/2...,Bright disc descended behind flying rock mount...,2021-03-02T00:00:00,NaN,NaN,Joseph City
4463,Around 4:05am i took our dog out and i sat dow...,TUSCON,AZ,2019-12-12T04:05:00,unknown,Approximately 15mins,Occurred : 12/12/2019 04:05 (Entered as : 12/...,Around 4:05am i took our dog out and i sat dow...,2019-12-19T00:00:00,NaN,NaN,Tucson

In [31]:
# Find null values
for column in az_city_ufo.columns:
    print(f"Column {column} has {az_city_ufo[column].isnull().sum()} null values")

Column summary has 2 null values
Column city has 0 null values
Column state has 0 null values
Column date_time has 21 null values
Column shape has 0 null values
Column duration has 195 null values
Column stats has 0 null values
Column text has 2 null values
Column posted has 21 null values
Column city_latitude has 480 null values
Column city_longitude has 480 null values
Column city_corrected has 0 null values

In [44]:
#newufo_df.dropna(subset=newufo_df.select_dtypes(include=np.number).columns, how='all')
az_city_ufo1 = az_city_ufo.dropna(subset=["summary","date_time","duration","posted","city_latitude","city_longitude",])
az_city_ufo1.head(5)

,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_corrected
0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park
1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park
2,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park
3,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park
4,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park
...,...,...,...,...,...,...,...,...,...,...,...,...
4446,((Serious report??)) My grandson and I saw a ...,Cortaro,AZ,2019-04-14T00:00:00,other,90-120 minutes,Occurred : 4/14/2019 (Entered as : 4/14 /201...,My grandson and I saw a worm hole open up and ...,2019-09-06T00:00:00,32.3562,-111.0884,Cortaro
4448,There was a single pyramid like craft with at ...,Elfrida,AZ,2019-06-10T21:10:00,other,10 minutes,Occurred : 6/10/2019 21:10 (Entered as : 06/1...,There was a single pyramid like craft with at ...,2019-06-20T00:00:00,31.7355,-109.7095,Elfrida
4452,Flashing Red & Green Object over Airport - hov...,Somerton,AZ,2020-02-12T21:30:00,circle,several hours,Occurred : 2/12/2020 21:30 (Entered as : 02/1...,Flashing Red & Green Object over Airport - hov...,2020-02-13T00:00:00,32.5376,-114.7138,Somerton
4453,Bright solid white light executes 90 degree tu...,Clifton,AZ,2020-10-06T19:13:00,light,90 seconds,Occurred : 10/6/2020 19:13 (Entered as : 10/0...,Bright solid white light executes 90 degree tu...,2020-12-23T00:00:00,33.2734,-109.2711,Clifton
4458,Perhaps their drones but they didn't seem like...,Many Farms,AZ,2020-01-14T18:45:00,formation,10 minutes,Occurred : 1/14/2020 18:45 (Entered as : 01/1...,Perhaps their drones but they didn't seem like...,2020-02-07T00:00:00,36.3900,-109.5977,Many Farms

In [45]:
for column in az_city_ufo1.columns:
    print(f"Column {column} has {az_city_ufo1[column].isnull().sum()} null values")

Column summary has 0 null values
Column city has 0 null values
Column state has 0 null values
Column date_time has 0 null values
Column shape has 0 null values
Column duration has 0 null values
Column stats has 0 null values
Column text has 0 null values
Column posted has 0 null values
Column city_latitude has 0 null values
Column city_longitude has 0 null values
Column city_corrected has 0 null values

In [47]:
az_city_ufo1["key"] = az_city_ufo1["city_corrected"] + az_city_ufo1["date_time"]
az_city_ufo1.head(5)

,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_corrected,key
0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2020-04-17T20:00:00
1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2020-05-17T21:00:00
2,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park1998-01-14T21:00:00
3,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2004-07-20T19:45:00
4,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2004-04-20T08:45:00

In [49]:
# convert date to datestri
az_city_ufo1["date_time"].str.split("T", expand=True)

               0         1
0     2020-04-17  20:00:00
1     2020-05-17  21:00:00
2     1998-01-14  21:00:00
3     2004-07-20  19:45:00
4     2004-04-20  08:45:00
...          ...       ...
4446  2019-04-14  00:00:00
4448  2019-06-10  21:10:00
4452  2020-02-12  21:30:00
4453  2020-10-06  19:13:00
4458  2020-01-14  18:45:00

[3816 rows x 2 columns]

In [56]:
newcolumnlist = ["date_str", "time_str"]
az_city_ufo1[newcolumnlist] = az_city_ufo1["date_time"].str.split("T", expand=True)
az_city_ufo1.head()

,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,city_corrected,key,date_str,time_str
0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2020-04-17T20:00:00,2020-04-17,20:00:00
1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2020-05-17T21:00:00,2020-05-17,21:00:00
2,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,Litchfield Park,AZ,1998-01-14T21:00:00,triangle,APPROX 15 MIN,Occurred : 1/14/1998 21:00 (Entered as : 01/1...,AIR FORCE FIGHTER JETS CHASED UPSIDE TRIANGLE ...,2003-12-19T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park1998-01-14T21:00:00,1998-01-14,21:00:00
3,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2004-07-20T19:45:00,2004-07-20,19:45:00
4,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park,Litchfield Park2004-04-20T08:45:00,2004-04-20,08:45:00

In [52]:
#split date 
#az_city_ufo1["date_str"].str.split("-", expand=True)

         0   1   2
0     2020  04  17
1     2020  05  17
2     1998  01  14
3     2004  07  20
4     2004  04  20
...    ...  ..  ..
4446  2019  04  14
4448  2019  06  10
4452  2020  02  12
4453  2020  10  06
4458  2020  01  14

[3816 rows x 3 columns]

In [57]:
newcolumnlist = ["year", "month", "day"]

In [58]:
az_city_ufo1[newcolumnlist] = az_city_ufo1["date_str"].str.split("-", expand=True)

In [60]:
az_city_ufo1.columns

Index(['summary', 'city', 'state', 'date_time', 'shape', 'duration', 'stats',
       'text', 'posted', 'city_latitude', 'city_longitude', 'city_corrected',
       'key', 'date_str', 'time_str', 'year', 'month', 'day'],
      dtype='object')

In [61]:
# converting to csv
az_city_ufo1.to_csv('Resources/az_city_ufo.csv')

In [62]:
# READ DATA Arizona Cities To load the dataset in a Pandas DataFrame
ufo_population_az_df = pd.read_csv("./Resources/AZ_CityGrowth_YoY.csv")
ufo_population_az_df

         City State  Year  Population      Date
0      Aguila    AZ  2021         519  7/7/2021
1      Aguila    AZ  2020         565  7/7/2020
2         Ajo    AZ  2021        2987  7/7/2021
3         Ajo    AZ  2020        3039  7/7/2020
4     Ak Chin    AZ  2021          54  7/7/2021
...       ...   ...   ...         ...       ...
2693     Yuma    AZ  2004       83315  7/7/2004
2694     Yuma    AZ  2003       81944  7/7/2003
2695     Yuma    AZ  2002       80975  7/7/2002
2696     Yuma    AZ  2001       79699  7/7/2001
2697     Yuma    AZ  2000       79090  7/7/2000

[2698 rows x 5 columns]

In [63]:
# New Columns to create
newcolumnlist1 = ["month", "day", "year"]

In [64]:
#Panda combine + split columns
ufo_population_az_df[newcolumnlist1] = ufo_population_az_df["Date"].str.split("/", expand=True)

In [65]:
ufo_population_az_df.columns

Index(['City', 'State', 'Year', 'Population', 'Date', 'month', 'day', 'year'], dtype='object')

In [66]:
ufo_population_az_df.head(5)

      City State  Year  Population      Date month day  year
0   Aguila    AZ  2021         519  7/7/2021     7   7  2021
1   Aguila    AZ  2020         565  7/7/2020     7   7  2020
2      Ajo    AZ  2021        2987  7/7/2021     7   7  2021
3      Ajo    AZ  2020        3039  7/7/2020     7   7  2020
4  Ak Chin    AZ  2021          54  7/7/2021     7   7  2021

In [67]:
ufo_population_az_df.to_csv('Resources/ufo_population_az_df.csv')

In [68]:
#df_merged = pd.merge(df_left, df_right, on='Key', how='inner')
#print(df_merged)
# But the columns names are different in the 2 dataframes  
ufo_pop_merge_df = pd.merge(az_city_ufo1, ufo_population_az_df, left_on=['year','city_corrected'], right_on=['year','City'])

In [69]:
ufo_pop_merge_df.columns

Index(['summary', 'city', 'state', 'date_time', 'shape', 'duration', 'stats',
       'text', 'posted', 'city_latitude', 'city_longitude', 'city_corrected',
       'key', 'date_str', 'time_str', 'year', 'month_x', 'day_x', 'City',
       'State', 'Year', 'Population', 'Date', 'month_y', 'day_y'],
      dtype='object')

In [70]:
ufo_pop_merge_df.head(5)

,summary,city,state,date_time,shape,duration,stats,text,posted,city_latitude,...,year,month_x,day_x,City,State,Year,Population,Date,month_y,day_y
0,Fleet of moving stars. ((Starlink satellites?)),Litchfield Park,AZ,2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,...,2020,04,17,Litchfield Park,AZ,2020,6847,7/7/2020,7,7
1,Star-like UFO and strange sound.,Litchfield Park,AZ,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,...,2020,05,17,Litchfield Park,AZ,2020,6847,7/7/2020,7,7
2,A cross shaped object illuminated with lights...,Litchfield Park,AZ,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,...,2004,07,20,Litchfield Park,AZ,2004,3964,7/7/2004,7,7
3,to dark to see color.,Litchfield Park,AZ,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,...,2004,04,20,Litchfield Park,AZ,2004,3964,7/7/2004,7,7
4,Strange craft with blinking lights in a solid ...,Litchfield Park,AZ,2005-08-19T20:30:00,triangle,3 minutes,Occurred : 8/19/2005 20:30 (Entered as : 08/1...,Strange craft with blinking lights in a solid ...,2005-10-11T00:00:00,33.5178,...,2005,08,19,Litchfield Park,AZ,2005,4361,7/7/2005,7,7

In [71]:
ufo_pop_merge_df.to_csv('Resources/ufo_pop_merge_df.csv')

In [75]:
#### Remove columns not needed
ufo_pop_merge_df.drop(columns=["city","state","city_corrected","Date","month_y","day_y"], inplace=True)

In [76]:
ufo_pop_merge_df.head(5)

,summary,date_time,shape,duration,stats,text,posted,city_latitude,city_longitude,key,date_str,time_str,year,month_x,day_x,City,State,Year,Population
0,Fleet of moving stars. ((Starlink satellites?)),2020-04-17T20:00:00,light,1 hour,Occurred : 4/17/2020 20:00 (Entered as : 04/1...,Fleet of moving stars Looked like moving stars...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park2020-04-17T20:00:00,2020-04-17,20:00:00,2020,04,17,Litchfield Park,AZ,2020,6847
1,Star-like UFO and strange sound.,2020-05-17T21:00:00,light,3 minutes,Occurred : 5/17/2020 21:00 (Entered as : 05/1...,Star-like UFO and strange sound had just seen ...,2020-06-25T00:00:00,33.5178,-112.3667,Litchfield Park2020-05-17T21:00:00,2020-05-17,21:00:00,2020,05,17,Litchfield Park,AZ,2020,6847
2,A cross shaped object illuminated with lights...,2004-07-20T19:45:00,cross,1 minute,Occurred : 7/20/2004 19:45 (Entered as : 07/2...,A cross shaped object illuminated with lights...,2004-09-29T00:00:00,33.5178,-112.3667,Litchfield Park2004-07-20T19:45:00,2004-07-20,19:45:00,2004,07,20,Litchfield Park,AZ,2004,3964
3,to dark to see color.,2004-04-20T08:45:00,triangle,8:45-8:47,Occurred : 4/20/2004 08:45 (Entered as : 04/2...,"to dark to see color. I'm 12 years old, i was ...",2004-08-11T00:00:00,33.5178,-112.3667,Litchfield Park2004-04-20T08:45:00,2004-04-20,08:45:00,2004,04,20,Litchfield Park,AZ,2004,3964
4,Strange craft with blinking lights in a solid ...,2005-08-19T20:30:00,triangle,3 minutes,Occurred : 8/19/2005 20:30 (Entered as : 08/1...,Strange craft with blinking lights in a solid ...,2005-10-11T00:00:00,33.5178,-112.3667,Litchfield Park2005-08-19T20:30:00,2005-08-19,20:30:00,2005,08,19,Litchfield Park,AZ,2005,4361

In [77]:
#df_merged4 & pd.merge(ufo_data_az_df, ufo_population_az_df
ufo_pop_merge_df.to_csv('Resources/ufo_pop_merge.csv')